.Rproj.user
.Rhistory
.RData
.Ruserdata
README.html
Gripe_covid
Datos
Resultados
9_a_Demo.html
9_b_Memoria.html
9_b2_Letter.html
9_b3_Letter_supplementary.html
9_c_Memoria_tncc.html
Fig1.svg
Fig1.pdf
Fig1.tiff
Fig1.png
Fig1.jpg

rsconnect