h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 64px;
}

h1.title {
  font-size: 38px;
  color: DarkRed;
  text-align: center;
}
h4.author { /* Header 4 - and the author and data headers use this too  */
    font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color: DarkRed;
  text-align: center;
}
h4.date { /* Header 4 - and the author and data headers use this too  */
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color: DarkBlue;
  text-align: center;
}

.blackbox {
  padding: 1em;
  background: LightPink;
  color: black;
  border: 2px orange;
  border-radius: 10px;
}
.center {
  text-align: center;
}

/*----------LOGO above TOC---------*/

#TOC::before {
  content: "";
  display: block;
  height: 60px;
  margin: 2em 15px 10px 15px;
  background-image: url("logo_compuesto.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

body {
  text-align: justify;
}

.table caption{
  font-style: italic;
  color: black;
  text-align: left
}

div.figure {
  display: table;
  width: 100%;
  font-style: italic;
  color: black;
}
div.figure p {
  display: table-caption;
  caption-side: bottom;
}

